#calc-contain{
  position: relative;
  width: 350px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px auto;
  padding: 20px;
  border-color: #999999;
}
#agh{
  position: relative;
  margin-top: 15px;
}
  #agh p{
  font-size: 20px;
  font-weight: 500;
}
input[type=button] {
  background: white;
  font-size: 20px;
  font-weight: 400;
  border-color: #999999;
  border-radius: 5px;
  height: 40px;
  margin-left: 13px;
  margin-right: 2px;
  margin-top: 10px;
  cursor: pointer;
}
input[type=button]:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input[type=button]:hover {
  background-color: #003300;
  color: white;
}
input[type = text] {
  position: relative;
  display: block;
  margin: 0px auto;
  font-size: 20px;
  padding: 20px;
  height: 10px;
  box-shadow: 4px;
  border-color: #999999;
}

